{% extends 'base.html.twig' %}

{% block title %}Produit index{% endblock %}

{% block body %}
   <h1>Produit index</h1>

   <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for produit in produits %}

         <div class="col">
                <div class="card" style="width: 18rem;">
            <img src="{{ asset('img/') ~ produit.image}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ produit.titre }}</h5>
                <p class="card-text">{{ produit.description }}.</p>
                <a href="{{ path('app_produit_show', {'id': produit.id}) }}" class="btn btn-primary">détail</a>
            </div>
            </div>
         </div>   
        {% endfor %}
    </div>
     

    <a href="{{ path('app_produit_new') }}">Create new</a>

{% endblock %}
