{% extends 'base.html.twig' %}

{% block title %}Commandes index{% endblock %}

{% block body %}
    <h1>Commandes index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>nom du forfait</th>
                <th>prix</th>
                <th>total</th>
                <th>CreatedAt</th>
                <th>ExpireAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for commande in commandes %}
            <tr>
                <td>{{ commande.id }}</td>
                <td>{{ commande.nom_forfait }}</td>
                <td>{{ commande.prix_forfait }}</td>
                <td>{{ commande.total }}</td>
                <td>{{ commande.createdAt ? commande.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ commande.expireAt ? commande.expireAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

   Total de la commande : {{ total_commande }}
{% endblock %}
